* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --backColor: #111213 ;
  --btnAfter: #FFBE0B;
  --btnLast: #c59511;
  --fontColor: #FFBE0B;
  --backInput: #22262b;
  --lineFomr: #FFBE0B;
}

body {
  height: 100vh;
  font-family: sans-serif;
  background-color: var(--backColor);
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 400px;
  width: 500px;
  margin: 150px auto;
}

.form {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  text-align: center;
  position: absolute;
  border: 1px solid var(--lineFomr);
  padding: 10px;
  border-radius: 15px;
}

label {
  text-align: left;
  margin-left: 10px;
  font-size: 20px;
  color: var(--fontColor)
}

.form input {
  width: 95%;
  height: 60px;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  background-color: var(--backInput);
  border: none;
  color: white;
}

.form span {
  font-size: 14px;
  color: red;
  text-align: center;
  font-weight: 200;
}

.form .seletor {
  width: 95%;
  height: 35px;
  font-size: 20px;
  margin: 10px;
  padding: 6px;
  background-color: var(--backInput);
  font-weight: bold;
  cursor: pointer;
  border: none;
  color: white;
}

.form .btn {
  width: 95%;
  height: 70px;
  font-size: 20px;
  margin: 10px;
  padding: 6px;
  background-color: var(--btnLast);
  border: none;
  font-weight: bold;
  transition: all 0.3s;
  cursor: pointer;
  color: var(--backInput);
}
.form .btn:hover {
  background-color: var(--btnAfter);
  color: var(--backColor);
}

textarea {
  max-width: 95%;
  min-width: 95%;
  min-height: 200px;
  max-height: 200px;
  font-size: 20px;
  font-weight: 200;
  margin: 10px;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: var(--backInput);
  color: white;
}
